USE [master]
GO
/****** Object:  Database [TP4MendezJulioDB]    Script Date: 22/11/2021 06:49:04 ******/
CREATE DATABASE [TP4MendezJulioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4MendezJulioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4MendezJulioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4MendezJulioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4MendezJulioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4MendezJulioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4MendezJulioDB]
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 22/11/2021 06:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[POBLACION] [int] NOT NULL,
	[POTENCIA] [bit] NOT NULL,
	[SUPERFICIE] [int] NOT NULL,
	[CONTINENTE] [int] NOT NULL,
	[IDIOMA] [int] NOT NULL,
	[IDH] [int] NOT NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PAISES] ON 

INSERT [dbo].[PAISES] ([ID], [NOMBRE], [POBLACION], [POTENCIA], [SUPERFICIE], [CONTINENTE], [IDIOMA], [IDH]) VALUES (1, N'Argentina', 43600000, 0, 2780400, 1, 13, 2)
INSERT [dbo].[PAISES] ([ID], [NOMBRE], [POBLACION], [POTENCIA], [SUPERFICIE], [CONTINENTE], [IDIOMA], [IDH]) VALUES (2, N'Australia', 24281000, 0, 7692024, 4, 3, 3)
INSERT [dbo].[PAISES] ([ID], [NOMBRE], [POBLACION], [POTENCIA], [SUPERFICIE], [CONTINENTE], [IDIOMA], [IDH]) VALUES (3, N'Brasil', 206101000, 0, 8515767, 1, 11, 2)
SET IDENTITY_INSERT [dbo].[PAISES] OFF
GO
USE [master]
GO
